In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [3]:

Health_inspections_df = pd.read_csv("restaurant-and-market-health-inspections.csv")
Health_inspections_df.head()

,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,facility_city,facility_id,facility_state,facility_zip,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id
0,DAJ00E07B,2017-12-29T00:00:00.000,HABITAT COFFEE SHOP,95,A,1,ROUTINE INSPECTION,EE0000923,3708 N EAGLE ROCK BLVD,LOS ANGELES,FA0170465,CA,90065,OW0178123,GLASSELL COFFEE SHOP LLC,RESTAURANT (0-30) SEATS MODERATE RISK,1631,HABITAT COFFEE SHOP,ACTIVE,PR0160774
1,DAQOKRFZB,2017-12-29T00:00:00.000,REILLY'S,92,A,1,ROUTINE INSPECTION,EE0000633,100 WORLD WAY # 120,LOS ANGELES,FA0244690,CA,90045,OW0208441,"AREAS SKYVIEW LAX JV, LLC",RESTAURANT (0-30) SEATS MODERATE RISK,1631,REILLY'S,ACTIVE,PR0193026
2,DASJI4LUR,2017-12-29T00:00:00.000,STREET CHURROS,93,A,1,ROUTINE INSPECTION,EE0000835,6801 HOLLYWOOD BLVD # 253,LOS ANGELES,FA0224109,CA,90028,OW0228670,"STREETCHURROS, INC",RESTAURANT (0-30) SEATS LOW RISK,1630,STREET CHURROS,ACTIVE,PR0179282
3,DA40LU5AT,2017-12-29T00:00:00.000,TRINITI ECHO PARK,94,A,1,ROUTINE INSPECTION,EE0000923,1814 W SUNSET BLVD,LOS ANGELES,FA0252528,CA,90026-3227,OW0246287,AMERICAN HOSPITALITY,RESTAURANT (0-30) SEATS MODERATE RISK,1631,TRINITI ECHO PARK,ACTIVE,PR0201836
4,DAXV2RMYC,2017-12-29T00:00:00.000,POLLEN,94,A,1,ROUTINE INSPECTION,EE0000923,2100 ECHO PARK AVE,LOS ANGELES,FA0252789,CA,90026,OW0246479,"POLLEN AND PASTRY , LLC",RESTAURANT (0-30) SEATS MODERATE RISK,1631,POLLEN,ACTIVE,PR0202148

In [4]:
Health_violations_df = pd.read_csv("restaurant-and-market-health-violations.csv")
Health_violations_df.head()

,serial_number,activity_date,facility_name,violation_code,violation_description,violation_status,points,grade,facility_address,facility_city,...,owner_name,pe_description,program_element_pe,program_name,program_status,record_id,score,service_code,service_description,row_id
0,DA08R0TCU,2018-03-30T00:00:00.000,KRUANG TEDD,F030,# 30. Food properly stored; food storage conta...,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF030
1,DA08R0TCU,2018-03-30T00:00:00.000,KRUANG TEDD,F027,# 27. Food separated and protected,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF027
2,DA08R0TCU,2018-03-30T00:00:00.000,KRUANG TEDD,F035,# 35. Equipment/Utensils - approved; installed...,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF035
3,DA08R0TCU,2018-03-30T00:00:00.000,KRUANG TEDD,F033,# 33. Nonfood-contact surfaces clean and in go...,OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF033
4,DA08R0TCU,2018-03-30T00:00:00.000,KRUANG TEDD,F029,"# 29. Toxic substances properly identified, st...",OUT OF COMPLIANCE,1,A,5151 HOLLYWOOD BLVD,LOS ANGELES,...,5151 HOLLYWOOD LLC,RESTAURANT (31-60) SEATS HIGH RISK,1635,KRUANG TEDD,ACTIVE,PR0031205,92,1,ROUTINE INSPECTION,DA08R0TCUF029

### Transform inspection DataFrame

In [5]:
# Create a filtered dataframe from specific columns
Inspection_cols = ["serial_number", "facility_name", "facility_id", "owner_id","service_description","program_status"]
Inspection_transformed = Health_inspections_df[Inspection_cols].copy()
# Rename the column headers
Inspection_transformed = Inspection_transformed.rename(columns={"facility_name": "FACILITY_NAME",
                                                          "facility_id": "FACILITY_ID",
                                                          "owner_id": "OWNER_ID",
                                                            "service_description": "SERVICE_DESCRIPTION",
                                                          "program_status": "PROGRAM_STATUS",
                                                               "serial_number": "SERIAL_NUMBER"})
# Clean the data by dropping duplicates and setting the index
Inspection_transformed.drop_duplicates("SERIAL_NUMBER", inplace=True)
Inspection_transformed.set_index("SERIAL_NUMBER", inplace=True)

Inspection_transformed.head()

,FACILITY_NAME,FACILITY_ID,OWNER_ID,SERVICE_DESCRIPTION,PROGRAM_STATUS
SERIAL_NUMBER,,,,,
DAJ00E07B,HABITAT COFFEE SHOP,FA0170465,OW0178123,ROUTINE INSPECTION,ACTIVE
DAQOKRFZB,REILLY'S,FA0244690,OW0208441,ROUTINE INSPECTION,ACTIVE
DASJI4LUR,STREET CHURROS,FA0224109,OW0228670,ROUTINE INSPECTION,ACTIVE
DA40LU5AT,TRINITI ECHO PARK,FA0252528,OW0246287,ROUTINE INSPECTION,ACTIVE
DAXV2RMYC,POLLEN,FA0252789,OW0246479,ROUTINE INSPECTION,ACTIVE

In [6]:
### Transform violation DataFrame

In [7]:
# Create a filtered dataframe from specific columns
Violation_cols = ["serial_number","facility_name", "violation_code", "violation_status","grade"]
Violation_transformed = Health_violations_df[Violation_cols].copy()
# Rename the column headers
Violation_transformed = Violation_transformed.rename(columns={"facility_name": "FACILITY_NAME",
                                                          "violation_code": "VIOLATION_CODE",
                                                          "violation_status": "VIOLATION_STATUS",
                                                          "grade": "GRADE", "serial_number": "SERIAL_NUMBER" })
# Clean the data by dropping duplicates and setting the index
Violation_transformed.drop_duplicates("SERIAL_NUMBER", inplace=True)
Violation_transformed.set_index("SERIAL_NUMBER", inplace=True)

Violation_transformed.head()

,FACILITY_NAME,VIOLATION_CODE,VIOLATION_STATUS,GRADE
SERIAL_NUMBER,,,,
DA08R0TCU,KRUANG TEDD,F030,OUT OF COMPLIANCE,A
DA0GBKW3F,SPROUTS FARMERS MARKET#403,F044,OUT OF COMPLIANCE,A
DA0HEAJNR,LOS ANGELES NEW YORK PIZZA,F044,OUT OF COMPLIANCE,A
DA0RZDWLN,THE BAGEL FACTORY,F029,OUT OF COMPLIANCE,A
DA0Z5W4J0,CREPE EXPRESS,F014,OUT OF COMPLIANCE,A

In [8]:
### Create database connection

In [11]:
connection_string = "postgres:@localhost:5432/ETL_project"
engine = create_engine(f'postgresql://{connection_string}')

In [28]:
# Confirm tables
engine.table_names()

['old_Violation', 'inspection', 'old_Inspection', 'violation']

In [24]:
##Load DataFrames into database

In [25]:
Inspection_transformed.to_sql(name='inspection', con=engine, if_exists='replace', index=True)

In [26]:
Violation_transformed.to_sql(name='violation', con=engine, if_exists='replace', index=True)

In [27]:
pd.read_sql_query('select * from inspection', con=engine).head()

,SERIAL_NUMBER,FACILITY_NAME,FACILITY_ID,OWNER_ID,SERVICE_DESCRIPTION,PROGRAM_STATUS
0,DAJ00E07B,HABITAT COFFEE SHOP,FA0170465,OW0178123,ROUTINE INSPECTION,ACTIVE
1,DAQOKRFZB,REILLY'S,FA0244690,OW0208441,ROUTINE INSPECTION,ACTIVE
2,DASJI4LUR,STREET CHURROS,FA0224109,OW0228670,ROUTINE INSPECTION,ACTIVE
3,DA40LU5AT,TRINITI ECHO PARK,FA0252528,OW0246287,ROUTINE INSPECTION,ACTIVE
4,DAXV2RMYC,POLLEN,FA0252789,OW0246479,ROUTINE INSPECTION,ACTIVE